openapi: 3.1.0
info:
  title: Nubela Proxycurl Company API
  version: v1
  description: Minimal OpenAPI 3.1 description of the Nubela Proxycurl API for company, competitor, customer, and employee data lookups.
  x-generated-from: https://nubela.co/proxycurl/docs
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://nubela.co/proxycurl/api
  description: Nubela Proxycurl API
security:
- bearerAuth: []
tags:
- name: Company
paths:
  /company/logo:
    get:
      tags:
      - Company
      summary: Fetch the logo for a company
      operationId: getCompanyLogo
      responses:
        '200':
          description: A PNG image of the company logo.
          content:
            image/png:
              schema:
                type: string
                format: binary
  /company/details:
    get:
      tags:
      - Company
      summary: Get company metadata and leadership details
      operationId: getCompanyDetails
      responses:
        '200':
          description: Company details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
  /company/employee-count:
    get:
      tags:
      - Company
      summary: Get an estimated employee count range for a company
      operationId: getCompanyEmployeeCount
      responses:
        '200':
          description: Employee count range.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
  /company/updates:
    get:
      tags:
      - Company
      summary: Retrieve recent company blog posts and social media updates
      operationId: getCompanyUpdates
      responses:
        '200':
          description: A list of company updates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
  /company/funding:
    get:
      tags:
      - Company
      summary: Get a company's funding history and investors
      operationId: getCompanyFunding
      responses:
        '200':
          description: Funding history.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
  /company/website:
    get:
      tags:
      - Company
      summary: Resolve a company name to a canonical website URL
      operationId: resolveCompanyWebsite
      responses:
        '200':
          description: A resolved website URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
components:
  schemas:
    GenericObject:
      type: object
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
